
.about-content {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 40px;
    align-items: center;
}

.about-content .text {
    flex: 1;
}

.about-content .text h3 {
    color: #2f6f4e;
}

.about-content .image {
    flex: 1;
}

.about-content img {
    width: 100%;
    border-radius: 12px;
}
