body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9dc788;
    margin: 0;
}

header{
    background-color: blanchedalmond;
    padding: 15px;
    text-align: center;
}

nav a{
    margin: 10px;
    text-decoration: solid;
    color: black;
    font-weight: bold;
}

.hero{
    padding: 30px;
    text-align: center;
}

.hero img{
    width: 250px;
    margin-top: 15px;
}

.top-bar {
    background-color: #2f6f4e;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    text-align: center;
    margin: 30px 0;
    color: #2f6f4e;
}
