body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9dc788;
    margin: 0
}

header{
    background-color: blanchedalmond;
    padding: 15px;
    text-align: center;
}

form{
    width: 50%;
    margin: 20px auto;
}

input, select, button{
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

button{
    background-color: rgb(74, 191, 236);
    color: beige;
    border: none;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #2f5d3a;
    color: white;
}