body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9dc788;
    margin: 0
}

header{
    background-color: blanchedalmond;
    padding: 15px;
    text-align: center;
}

form{
    width: 50%;
    margin: 20px auto;
}